.app {
    background: #f5ba00;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.db {
    margin: 0 auto;
    width: 80%;
    background-color: #fff;
    padding: 1rem 2rem;
}

.panels {

}