.fb {
    display: flex;
}

.jcsp {
    justify-content: space-between;
}

.aic {
    align-items: center;
}

.none {
    display: none;
}

.mobile {
    display: block;
}

@media (min-width: 775px) {
    .mobile {
        display: none;
    }    
}